@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: hsl(221, 100%, 96%);
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.result {
  background-color: hsl(252, 100%, 67%);
  text-align: center;
  padding: 14px;
  border-radius: 20px;
  width: 45%;
}

.summary {
  width: 45%;
  padding: 14px 20px;
}

.summary h3 {
  color: hsl(224, 30%, 27%);
}

.component {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  margin-bottom: 7px;
  color: rgb(194, 194, 194);
}

.component > div {
  display: flex;
  font-weight: 700;
}

.component img {
  margin-right: 8px;
}

.component span {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.component:nth-of-type(1) {
  background-color: hsla(0, 100%, 67%, 0.06);
}
.component:nth-of-type(1) > div {
  color: hsl(0, 100%, 67%);
}

.component:nth-of-type(2) {
  background-color: hsla(39, 100%, 56%, 0.06);
}
.component:nth-of-type(2) > div {
  color: hsl(39, 100%, 56%);
}

.component:nth-of-type(3) {
  background-color: hsla(166, 100%, 37%, 0.06);
}
.component:nth-of-type(3) > div {
  color: hsl(166, 100%, 37%);
}

.component:nth-of-type(4) {
  background-color: hsla(234, 85%, 45%, 0.06);
}
.component:nth-of-type(4) > div {
  color: hsl(234, 85%, 45%);
}

button {
  color: hsl(221, 100%, 96%);
  background-color: hsl(224, 30%, 27%);
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  margin: 16px 0px;
  cursor: pointer;
}

button {

}