@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(221, 100%, 96%);
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 0px;
}

.result {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  padding: 14px 40px;
  border-radius: 20px;
  width: 50%;
}

.result h2 {
  color: hsl(0, 0%, 100%);
}

.p {
  font-size: 16px;
  width: 76%;
  height: auto;
  margin: 0px auto;
}

.result h3, .result p {
  color: hsl(241, 100%, 89%);
}

.score {
  width: 130px;
  padding: 18px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
}

.score h1 {
  margin-bottom: -14px;
  color: hsl(0, 0%, 100%);
}

.score p {
  font-size: 14px;
  font-weight: 500;
  color: hsl(241, 33%, 67%);
}

.summary {
  width: 50%;
  padding: 14px 20px;
}

@media(max-width:695px) {
  .result, .summary {
    width: 100%;
  }
}

.summary h3 {
  color: hsl(224, 30%, 27%);
}

.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  margin-bottom: 7px;
  color: rgb(194, 194, 194);
}

.component > div {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.component img {
  height: fit-content;
  margin-right: 8px;
}

.component span {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.component:nth-of-type(1) {
  background-color: hsla(0, 100%, 67%, 0.06);
}
.component:nth-of-type(1) > div {
  color: hsl(0, 100%, 67%);
}

.component:nth-of-type(2) {
  background-color: hsla(39, 100%, 56%, 0.06);
}
.component:nth-of-type(2) > div {
  color: hsl(39, 100%, 56%);
}

.component:nth-of-type(3) {
  background-color: hsla(166, 100%, 37%, 0.06);
}
.component:nth-of-type(3) > div {
  color: hsl(166, 100%, 37%);
}

.component:nth-of-type(4) {
  background-color: hsla(234, 85%, 45%, 0.06);
}
.component:nth-of-type(4) > div {
  color: hsl(234, 85%, 45%);
}

button {
  color: hsl(221, 100%, 96%);
  background-color: hsl(224, 30%, 27%);
  padding: 13px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin: 16px 0px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  transition: .5s;
}